@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 1s ease-in-out; /* Durasi 1 detik untuk fade-in */
}



body {
    font-family: Arial, sans-serif;
}

h1 {
    color: #8b2e2e;
}


.btn-success {
    background-color: #13795d;
    border: none;
}

.btn-outline-secondary {
    border-color: #13795d;
    color: #13795d;
}

.btn-outline-secondary:hover {
    background-color: #13795d;
    color: #fff;
}

/* Centering Navbar */


.navbar .nav-link.box-nav {
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px; /* Rounded corners */
    color: #CC5E39; /* Text color */
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.navbar .nav-link.box-nav:hover {
    background-color: #13795d; /* Change background on hover */
    color: #ffffff; /* Change text color on hover */
}

.navbar .btn-primary.box-login {
    border: 2px solid #13795d; /* Border for login button */
    border-radius: 5px; /* Rounded corners for consistency */
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #13795d;
    transition: background-color 0.3s, color 0.3s;
}

.navbar .btn-primary.box-login:hover {
    background-color: #ffffff; /* White background on hover */
    color: #13795d; /* Text color changes */
    border-color: #13795d; /* Keep border color */
}



/* Footer */
footer {
    background-color: #f8ebe3;
    padding: 50px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 30px;
}

.footer-logo p,
.footer-links p,
.footer-apps p {
    color: #0f4c81;
    margin: 5px 0;
}

.footer-links a {
    color: #0f4c81;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-apps img {
    width: 120px;
    margin: 5px;
}

.footer-bottom {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    color: #d95d39;
    font-size: 14px;
}

.footer-bottom p {
    margin: 0;
}
